[global]
bs={{ bs }}
iodepth=64
direct=1
ioengine=libaio
time_based
group_reporting
runtime={{ runtime }}
numjobs={{ numjobs }}
rw=randrw
size={{ size }}
directory={{ directory }}
percentage_random={{ percentage_random }}
rwmixread={{ rwmixread }}
nrfiles={{ nrfiles }}

[randrw]
